@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: "Noto Sans KR", sans-serif;
}

#eventContent {
    min-width: 1050px;
    padding-bottom: 60px;
}
    
.page_section_event {
    width: 1050px;
    margin: 0 auto;
}

#mainEvent li {
    padding-bottom: 10px;
}