@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/*reset*/
html, body{margin:0;padding:0;}
a {color: inherit; text-decoration: none;}
li {list-style: none;}

/*전체 폰트 적용*/
body { font-family: 'Noto Sans KR', sans-serif; }

/* footer */
#footer { width: 1050px; margin: 0 auto; padding-bottom: 60px; font-weight: 400; letter-spacing: -.2px;}

/*top_footer 영역*/
#footer .top_footer { overflow: hidden; padding-bottom: 20px;  width: 100%; }  
/*footer_left 영역*/
#footer .footer_left { float: left; width: 50%; box-sizing: border-box; }
#footer .cs_call { padding: 29 px0 2px; font-weight: 700; font-size: 20px; color: #333; line-height: 24px; padding-top: 20px;}
#footer .cc_call .tit { padding-top: 4px; font-weight: 800; font-size: 28px; color: #333; line-height: 36px; letter-spacing: -.5px; white-space: nowrap; }
#footer .cc_view { overflow: hidden; padding-top: 16px; }
#footer .cc_view .tit { float: left; width: 140px; margin-right: 16px; }
#footer .cc_kakao .tit
, #footer .cc_qna .tit { height: 40px; margin-top: 3px; border: 1px solid #e3d3d3; border-radius: 3px; color: #333; line-height: 40px; text-align: center; font-weight: 700; font-size: 14px;} 

.footer_left .tit_cc { padding: 28px 0 2px;font-weight: 700; font-size: 20px; color:#333; line-height: 24px;} 

#footer .footer_left .list {
    font-size: 6px;
    color: #333;
    line-height: 21px;
    letter-spacing: -.2px;
}

#footer .footer_left .list dd {
    color: #999;
}
/*footer_right 영역*/
#footer .footer_right { float: left; width: 50%; box-sizing: border-box; padding: 28px 0 2px; font-size: 12px; color: #999; line-height: 20px; } 
#footer .footer_right .list { overflow: hidden; width: 100%; padding-bottom: 29px; }
#footer .footer_right .list li { float: left; padding-right: 16px; }
#footer .footer_right .list .link { font-size: 14px; color: #333; line-height: 18px; }
#footer .footer_right_link {overflow: hidden; padding-top: 19px; border-top: 1px solid #eee; letter-spacing: 0; }

/* sns link 영역*/
#footer .right_sns { float: left; padding-top: 16px;}
#footer .right_sns li { float: left; } 
#footer .right_sns .sns_link { display: block; width: 30px; height: 30px; margin-right: 10px; vertical-align: top; }
#footer .right_sns .sns_link img { width: 100%; }

/*bottom_footer 영역*/
/*인증*/
#footer .authentication {float: left; padding-top: 3px; width: 100%; border-top:1px solid #eee;} 
#footer .mark { float: left; width: 267px; }
#footer .mark .logo { float: left; width: 34px; height: 34px; margin-right: 10 px; }
#footer .mark .txt { float: left; padding-top: 1px; font-size: 10px; color: #999; line-height: 16px; letter-spacing: -.5px; white-space: nowrap; padding-left: 14px; width: 50%; }
#footer .lguplus .logo { width: 102px; height: 34px; }