@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  background-color: #f3f2f4;
}

.container a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

.section_end {
  position: relative;
  padding-bottom: 0;
  background-color: #f3f2f4;
  width: 400px;
  min-height: 800px;
  padding: 54px 0 115px;
  color: #000;
  margin: 0 auto;
  margin-bottom: 30px;
}

.order_result {
  position: relative;
  margin-bottom: 15px;
  padding: 56px 30px 30px;
  background: #fff;
  font-weight: 400;
}

.delivery_check {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.delivery_check .delivery_ico {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  vertical-align: top;
}

.delivery_check .comment {
  margin: 0;
}

.check {
  padding: 24px 0 56px;
}

.order_info {
  border-top: 1px solid #f4f4f4;
  padding-top: 16px;
}

.order_info ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_info ul li .title {
  width: 76px;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  color: #333;
}

.order_info ul li .money {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.3px;
  color: #333;
}

.order_info ul li .won {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  vertical-align: 2px;
}

.order_info ul li + li {
  padding-top: 10px;
}

.order_info ul li .point {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.2px;
  color: #5f0080;
}

.order_info .description {
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: #5f0080;
  margin: 0;
}

.section_end .package {
  width: 100%;
  margin-top: 32px;
  min-height: 67px;
  background-color: #fafafa;
}

.section_end .package img {
  max-width: 100%;
}

.policy_list {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  color: #999;
  padding: 24px 0;
}

.policy_list li {
  position: relative;
  padding-left: 11px;
}

.policy_list li:before {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #ccc;
  vertical-align: top;
  margin: 9px 8px 0 -10px;
  content: "";
}

.container .orderlist_btn {
  display: block;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  border: solid 1px #ddd;
  border-radius: 3px;
}

.container .continue_btn {
  display: block;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  border-radius: 3px;
  margin-top: 16px;
  border: 1px solid #5f0081;
  background-color: #5f0080;
  color: #fff;
}
