@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.discount span {
	line-height: 100%;
}

.category {
	margin-top: 30px;
	margin-bottom: 10px;
}

.category span {
    font-size: 28px;
    font-weight: 700;
}

.article {
   	font-weight: 400;
   	font-size: 12px;
   	color: #4c4c4c;
   	width: 1050px;
}

.item {
	padding-left: 5px;
	cursor: pointer;
}

div.title {
	font-size: 20px;
}

div.contents {
	color: #999;
}

div.nodiscount {
	font-size: 18px;
	font-weight: 800;
}

#percentage {
	font-weight: 800;
	font-size: 18px;
	color: #fa622f;
}

#p_discount {
	font-size: 18px;
	font-weight: 800;
}

#p_original {
	font-size: 16px;
	color: gray;
	text-decoration:line-through
}

.top_line {
	margin-bottom: 10px;
	margin-top: 10px;
	
	padding-left: 5px;
	padding-right: 5px;
}

.top_line::after {
   content:'';
   display:block;
   clear:both;
   valign: center;
}	

p#left{
	float: left;
}

ul#right{
	float: right;
	color: #c9c9c9;
	display: flex;
    list-style-type: none;
}

ul#right li{
	margin-right: 5px;
	cursor: pointer;
}

ul#right li:hover{
	color: black;
}

ul#right li#on {
	color: black;
}

span#title{
	font-size:28px;
	font-weight: 700;
}


img.product:hover{
	transform: scale(1.03);
	-webkit-transition: 0.5s;
}

div.image{
	position: relative;
	overflow: hidden;
	width: 338px;
	height: 435px;
}

img.product{
	position: absolute;
	z-index: 1;
}

.btn_cart{
	position: absolute;
	top: 377px;
	left: 275px;
	z-index: 2;
	width: 45px;
    height: 45px;
    background: transparent;
    border: 0;
    margin-bottom: 20px;
}

ul#sub_category {
	
	margin-top: 23px;
	padding: 12px 0 29px;
	overflow: hidden;
	border: 1px solid #e2e2e2;	
}

ul#sub_category li{
	float: left;
    width: 263px;
    padding: 16px 44px 0 39px;
    text-align: left;
}

ul#sub_category::after {
   content:'';
   display:block;
   clear:both;
   valign: center;
}

ul#sub_category li a {
	
	text-decoration: none;
	cursor: pointer;
    color: #333;
    max-width: 180px;
    line-height: 20px;
    font-size: 14px;
    margin-left: 90px;	
}

ul#sub_category li a:hover {
	font-weight: 700;
    color: #5f0080;
}

.pagination {
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 350px;
	padding-bottom: 30px;
	align-content: center;
	width: 1050px;
	height: 34px;	
}

.pagination a {
	background-color: transparent;
    text-decoration: none;
    display: inline-block;
    width: 33px;
    height: 32px;
    border: 1px solid #ddd;
    overflow: hidden;
	float: left;
	cursor: pointer;
	
	vertical-align: top;
    font-weight: 700;
    font-size: 12px;
    font-weight: 700;
    font-size: 12px;
    color: #333;
    line-height: 34px;
    border-left: 0;
}

a.last::after {
	clear: both;
}

.pagination a#on {
	background-color: #f7f7f7;
	color: #5f0080;
}

.pagination a:hover {
	background-color: #f7f7f7;
	color: #5f0080;
}

a.first{
	background-image: url(../img/product/pagination-first.webp);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    border-left: 1px solid #ddd;
}

.prev{
	background-image: url(../img/product/pagination-prev.webp);
	background-repeat: no-repeat;
    background-position: 50% 50%;
}

.next{
	background-image: url(../img/product/pagination-next.webp);
	background-repeat: no-repeat;
    background-position: 50% 50%;
}

.last{
	background-image: url(../img/product/pagination-last.webp);
	background-repeat: no-repeat;
    background-position: 50% 50%;
}

